<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TRPR</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style4.css" />
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container" style="width:100%; padding-left: 20px; padding-right: 20px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo.png" style="height:inherit;" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a href="javascript:void(0)" data-toggle="search">
                    <input type="text" placeholder="Search" class="form-control" style="width:250px; display:inline; margin-top:8px;">
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="far fa-envelope">
                                <span class="label" style="color: #8EA03E;"> 23 </span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <i class="far fa-bell">
                            <span class="label" style="color: #8EA03E;"> &nbsp; </span>
                        </i>
                    </li>
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--  end navbar -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav class="sidebar" id="sidebarLeft">
            <div class="sidebar-header">
                <button type="button" id="sidebarCollapse" class="btn d-none">
                    <i class="fas fa-align-justify"></i>
                </button>
                <strong>TRPR</strong>
                @if (User.IsInRole("Editor"))
                {
                    <h3>Admin</h3>
                }
                else if (User.IsInRole("Researcher"))
                {
                    <h3>Review</h3>
                }
                else
                {
                    <h3>Author</h3>
                }

            </div>

            <ul class="list-unstyled components">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btnLg">
                        <i class="fas fa-home"></i><span>Home</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        <span>My Papers</span>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @if (User.IsInRole("Researcher"))
                        {
                            <li>
                                <a asp-area="" asp-controller="ReviewAssigns" asp-action="Index" class="btnLg">Submitted</a>
                            </li>
                        }

                        else
                        {
                            <li>
                                <a asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLg">Submitted</a>
                            </li>
                        }
                        <li>
                            <a asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLg">Drafts</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLg">Revisions</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLg">Decisions</a>
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole("Editor"))
                {
                    <li>

                        <a asp-area="" asp-controller="UserRoles" asp-action="Index">
                            <i class="fas fa-user-edit"></i>
                            Roles
                        </a>
                    </li>
                    <li>

                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="far fa-user"></i>
                            <span>Authors</span>
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a asp-area="" asp-controller="Researchers" asp-action="Index">Existing</a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Register">New</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-book"></i>
                            <span>Journals</span>
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="https://www.trontario.org/login.html?redirect=%2Ftrpr-electronic.html">2018</a>
                            </li>
                            <li>
                                <a href="#">2017</a>
                            </li>
                            <li>
                                <a href="#">2016</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://www.trontario.org/education-research/trpr--journal-of-tro/index.html#v15-call-for-papers">
                            <i class="fas fa-info"></i>
                            <span>Call for Papers</span>
                        </a>
                    </li>
                    <li>
                        <br />
                    </li>
                }

                <li>
                    <a href="https://www.trontario.org/education-research/trpr--journal-of-tro/index.html">
                        <i class="fas fa-briefcase"></i>
                        <span>Resources</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.trontario.org/contact/index.html">
                        <i class="fas fa-paper-plane"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>

            <div id="socialLinks">

                <a href="https://www.facebook.com/TROntario/"><i class="fab fa-facebook-f"></i></a>

                <a href="https://www.pinterest.ca/trontario/"><i class="fab fa-pinterest-p"></i></a>

                <a href="https://twitter.com/tr_ontario"><i class="fab fa-twitter"></i></a>

                <a href="https://www.instagram.com/trontario/"><i class="fab fa-instagram"></i></a>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - TRPR</p>
            </footer>
        </div>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("Scripts", required: false)
</body>
</html>
