<div class="wrapper">
    <!-- Sidebar  -->
    <nav class="sidebar" id="sidebarMid">
        <ul class="list-unstyled components">
            <li>
                <a asp-area="" asp-controller="" asp-action="">
                    <span>Proof</span>
                </a>
            </li>
            <li class="active">
                <a href="#sideSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span>Files</span>
                </a>
                <ul class="collapse list-unstyled" id="sideSubmenu">
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">PDF</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">Word</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <span>Details</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Abstract</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Authors Response</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Instructions</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Comments</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
