
@{
    string mimeType = ViewData["MimeType"].ToString();
    string fileBase64 = ViewData["fileBase64"].ToString();
    string fileSrc = string.Format("data:" + mimeType + ";base64,{0}", fileBase64);
    if (String.IsNullOrEmpty(mimeType))
    {
        <div align="center">
            <h3>Select a File to View</h3>
        </div>
    }
    else if (mimeType.Contains("image"))
    {
        <div align="center">
            <img src="@fileSrc" style="max-height: 500px" class="img-responsive img-rounded" />
        </div>
    }
    else
    {
        <object id="pdfbox" type="@mimeType" data="@fileSrc" style=" width: 90%; height: 500px; display: block; border: 5px solid #ccc;">
            File cannot be displayed but you can download it from here: @Html.Raw(ViewData["downloadLink"]).
        </object>
    }
}
