@model TRPR.Models.ReviewAssign

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ReviewAssign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperID" class="control-label"></label>
                <select asp-for="PaperID" class="form-control" asp-items="ViewBag.PaperID">
                    <option>Select a Paper</option>
                </select>
                <span asp-validation-for="PaperID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Filter Associate Editors by Expertise:</label>
                @Html.DropDownList("ExpID", null, "All Expertises", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ResID" class="control-label"></label>
                <select asp-for="ResID" class="form-control" asp-items="ViewBag.ResID">
                    <option>Select an Associate Editor</option>
                </select>
                <span asp-validation-for="ResID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-for="RoleID" class="form-control" asp-items="ViewBag.RoleID">
                    <option>Select a Role</option>
                </select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    {
        <script type="text/javascript">
            $('#ExpID').change(function () {
                var selectedExpertise = $("#ExpID").val();
                var theDDL = $("#ResID");
                theDDL.empty();
                var URL = "/ReviewAssigns/GetResearcherByExpertise/" + selectedExpertise;
                $(function () {
                    $.getJSON(URL, function (data) {
                        if (data !== null && !jQuery.isEmptyObject(data)) {
                            theDDL.append($('<option/>', {
                                value: null,
                                text: 'Select an Associate Editor'
                            }));
                            $.each(data, function (index, item) {
                                theDDL.append($('<option/>', {
                                    value: item.value,
                                    text: item.text
                                }));
                            });
                            theDDL.trigger("chosen:updated");
                        } else {
                            theDDL.append($('<option/>', {
                                value: null,
                                text: 'No Associate Editors with that Expertise'
                            }));
                        };
                    });
                });
                theDDL.fadeToggle(400, function () {
                    theDDL.fadeToggle(400);
                });
            });
        </script>
    }
}
