@model IEnumerable<TRPR.Models.PaperInfo>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = "Dashboard";
}
<div class="page">
    <div id="dashHead">
        <h4 style="display: inline">@ViewData["Title"]</h4>
        <input type="button" id="btnSubmission" class="btnMedP" value="Contact" />
    </div>
    <div id="AuthorDash">
        <div id="AD3">
            <button onclick="" asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLgLt">
                <span class="label" style="color: #F2F2F2;"> Papers Submitted </span>
                <span class="label" style="color: #F2F2F2; font-size:6em;"> 3 </span>
            </button>
            <button asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLgMd">
                <span class="label" style="color: #F2F2F2;"> Reviewed </span><br />
                <span class="label" style="color: #F2F2F2; font-size:6em;"> 5 </span>
            </button>
            <button asp-area="" asp-controller="PaperInfo" asp-action="Index" class="btnLgDk">
                <span class="label" style="color: #F2F2F2;"> Drafts </span><br />
                <span class="label" style="color: #F2F2F2; font-size:6em;"> 2 </span>
            </button>
        </div>

        <div id="AD4">
            <h4>Most Recent</h4>

          
        </div>
    </div>
</div>
