@{
    ViewData["Title"] = "Home Page";
}



@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@

@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div>
    <a asp-area="" asp-controller="PaperInfo" asp-action="Create" class="bg-success">New Submission</a>
</div>
