@model TRPR.Models.Researcher

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Researcher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TitleID" class="control-label"></label>
                <select asp-for="TitleID" class="form-control" asp-items="ViewBag.TitleID">
                    <option>Select a title</option>
                </select>
                <span asp-validation-for="TitleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResFirst" class="control-label"></label>
                <input asp-for="ResFirst" class="form-control" />
                <span asp-validation-for="ResFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResMiddle" class="control-label"></label>
                <input asp-for="ResMiddle" class="form-control" />
                <span asp-validation-for="ResMiddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResLast" class="control-label"></label>
                <input asp-for="ResLast" class="form-control" />
                <span asp-validation-for="ResLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResEmail" class="control-label"></label>
                <input asp-for="ResEmail" class="form-control" />
                <span asp-validation-for="ResEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResBio" class="control-label"></label>
                <input asp-for="ResBio" class="form-control" />
                <span asp-validation-for="ResBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteID" class="control-label"></label>
                <select asp-for="InstituteID" class="form-control" asp-items="ViewBag.InstituteID">
                    <option>Select an Institute</option>
                </select>
                <span asp-validation-for="InstituteID" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-6">
                    <label class="control-label"> Expertises Chosen </label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })

                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Expertises </label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_MultiselectPartial");}
}
