@model TRPR.Models.PaperInfo

@{
    ViewData["Title"] = "New Submission";
}

<div class="page" id="submissionPage">
    <div id="dashHead">
        <h4 style="display: inline">@ViewData["Title"]</h4>
        <input type="button" class="btnMedP" value="Save and Close" />
    </div>
    <div>
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="submissionFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperTypeID" class="control-label"></label>
                <select asp-for="PaperTypeID" class="form-control" asp-items="ViewBag.PaperTypeID">
                    <option>Select a Paper Type</option>
                </select>
                <span asp-validation-for="PaperTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperTitle" class="control-label"></label>
                <textarea asp-for="PaperTitle" type="text" class="form-control"></textarea>
                <span asp-validation-for="PaperTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthoredPapers" class="control-label">Biography (Max 60 Words)</label>
                <textarea asp-for="AuthoredPapers" type="text" class="form-control" rows="4"></textarea>
                <span asp-validation-for="AuthoredPapers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperAbstract" class="control-label"></label>
                <textarea asp-for="PaperAbstract" type="text" class="form-control" rows="20"></textarea>
                <span asp-validation-for="PaperAbstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperKeywords" class="control-label"></label>
                <textarea asp-for="PaperKeywords" class="form-control" typeof="text"></textarea>
                <span asp-validation-for="PaperKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperLength" class="control-label"></label>
                <textarea asp-for="PaperLength" class="form-control" typeof="text"></textarea>
                <span asp-validation-for="PaperLength" class="text-danger"></span>
            </div>
                <input type="hidden" name="StatusID" value="3" />
            <h5>Co-Author</h5>
            <input type="text" placeholder="Email" class="form-control" style="width:250px; display:inline; margin-top:8px;">
            <button class="btnMedG">Search</button>
            <button class="btnMedP" id="addNewCoAuthor" data-toggle="modal" data-target="#addCoAuthorModal" type="button">Add New Author</button>


            <!-----------------------------------------------Modal Popup--------------------------------------------------------->
            @*<div class="modal-fade" id="addCoAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Add Co-Author</h4>
                            </div>
                            <div class="modal-body">
                                @{
                                    var doc = new TRPR.Models.Researcher();
                                    Html.RenderPartial("_coAuthorRegistration", doc);
                                }
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>*@
            <h4>My Co-Authors</h4>

            @*<div class="form-group">
                <label class="control-label">Related File:</label>
                <input type="file" class="" multiple="multiple" name="theFiles" /><br />
            </div>*@

            <div id="fileUploader" class="form-group">

                <partial name="~/Views/Shared/_fileUploader.cshtml" />
            </div>

            <div class="form-group">
                <input type="submit" name="actionButton" value="Save and Close" class="btn btn-default" />
                <input type="submit" name="actionButton" value="Save and Submit" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="modal fade" id="addCoAuthorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="display:inline;">REGISTER</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        var doc = new TRPR.Models.Researcher();
                        Html.RenderPartial("_coAuthorRegistration", doc);
                    }
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Cancel" class="btn btnMedG" />
                    <input type="submit" value="Save" class="btn btnMedP" id="btnCoAuthCreate" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#addCoAuthorModal").on("hidden.bs.modal", function () {
    });
    $("#btnCoAuthCreate").click(function (event) {
        event.preventDefault();
        var form = $("#createCoAuthorForm");
        if (form.valid()) {
            $a.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize()
            })
                .success(function () {
                    $("#addCoAuthorModal").modal(hide);
                })
                .error(function () {
                    alert("Create Failed. There was a problem adding the Co-Author.");
                });
        }
        return false;
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
