/*
    DEMO STYLE
*/
@font-face {
    font-family: 'Frutiger LT Std 47 Light Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Frutiger LT Std 47 Light Condensed'), url('FrutigerLTStd-LightCn.woff') format('woff');
}

/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/
body {
    font-family: 'Frutiger LT Std', sans-serif;
    background: #fafafa;
    padding-right:0;
}

.page {
    width: 100%;
    margin-top: 2em;
    margin-right:0;
}

p {
    font-family: 'Frutiger LT Std', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/*.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

/*.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

i,
span {
    display: inline-block;
}

#navbar2 {
    flex-basis: auto;
}


/* ---------------------------------------------------
    BUTTON STYLE
----------------------------------------------------- */
.btnLgDk,
.btnLgLt,
.btnLgMd,
.btnMedP,
.btnMedG,
.btnLgXDk {
    color: #F2F2F2;
    border: none;
    border-radius: 4px;
}

.btnMedP,
.btnMedG {
    width: 6em;
    height: 3em;
    font-size: 1em;
}

.btnMedP {
    background: #8181AE;
}

.btnMedG {
    background: #B8C4CE;
}

.btnLgMd,
.btnLgDk,
.btnLgLt {
    width: 12em;
    height: 12em;
    color: #F2F2F2;
    font-size: 13px;
    border: none;
}

.btnLgDk {
    background: #8181AE;
}

.btnLgMd {
    background: #9190B8;
}

.btnLgLt {
    background: #A1A0C2;
}

.btnLgXDk {
    background: #7271A4
}

.btnSubmission {
font-size: smaller;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    align-items: stretch;
    display: flex;
    height: 100%;
}

.sidebar {
    min-width: 135px;
    max-width: 135px;
    background: #A1A0C2;
    color: #F2F2F2;
    transition: all 0.3s;
    display: grid;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    height: 100%;
}


    .sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        .sidebar.active .sidebar-header h3,
        .sidebar.active .CTAs {
            display: none;
        }

        .sidebar.active .sidebar-header strong {
            display: block;
        }

    .sidebar ul li a {
        text-align: left;
    }

        .sidebar ul li a span {
            text-align: left;
            padding-left: 10px;
        }


    .sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.3em;
    }

        .sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    .sidebar.active ul ul a {
        padding: 10px !important;
    }

    .sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    .sidebar .sidebar-header {
        padding: 20px;
        background: #A1A0C2;
    }

        .sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    .sidebar ul.components {
        padding: 20px 0;
    }

    .sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        .sidebar ul li a:hover {
            color: #707070;
            background: #D0D0E1;
        }

        .sidebar ul li a i {
            /*margin-right: 10px;*/
            text-align: right;
        }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #707070;
    background: #D0D0E1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #D0D0E1;
}

#socialLinks {
    padding: 0 10px 20px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: flex-end;
}

    #socialLinks a {
        font-size: 0.9em !important;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    PAGES STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    LOGIN
----------------------------------------------------- */
#loginNavbar {
    background-color: #A1A0C2;
    color: #F2F2F2;
    min-height: 5em;
    /*display:flex;
    align-content: flex-end;*/
}

.loginPage {
    display: flex;
    flex-direction: row;
}

.leftPanel {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url(../images/journalTitle.png), url(../images/peopleLogo.png);
    background-size: 80%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position-y: center, top;
    background-position-x: right, center;
}

.rightPanel {
    display: flex;
    width: 50%;
    justify-content: center;
}

#loginForm {
    flex-basis: 70%;
    align-self: center;
}

#btnLogin {
    border: 1px solid #F2F2F2;
}

#peopleLogo {
    width: auto;
}

/* ---------------------------------------------------
    AUTHOR SUBMISSION PAGE
----------------------------------------------------- */

#submissionPage,
#reviewPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submissionFrm {
    max-width: 50%;
}

#dashHead {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#AuthorDash {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 15px;
}

#AD3 {
    display: grid;
    grid-row-gap: 5px;
}

#details {
    display: grid;
    grid-template-columns: 8fr 1fr 2fr;
}

/* ---------------------------------------------------
    EDITOR REVIEW PAGE
----------------------------------------------------- */
#reviewPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
}

#paper {
    flex-basis: 60%;
}

.paperDetail {
    display: flex;
    flex-direction: column;
}

#header1,
#header2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}

#header1 {
    margin-bottom: 2em;
}

#status,
#referenceCode,
#date {
    flex-basis: 1fr;
}

#status {
    background-color: rgba(129,129,174,0.45);
    border-radius: 20px;
    padding: 5px 15px;
}

#editorReview {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}

#reviewSection {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#buttons {
display:flex;
flex-direction:row;
justify-content:flex-end;
padding-top:2em;
}

#btnSubmit,
#btnSave {
margin-left:2em;
}
/* ---------------------------------------------------
    FILE UPLOADER
----------------------------------------------------- */

.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    padding-bottom: 15px;
    background-color: #fff;
    width: 100%
}

.picture {
    width: 90%;
    height: 10em;
    background-color: #F0F2F8;
    color: #FFFFFF;
    margin: 5px auto;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

    .picture > .icon {
        width: 100%;
        height: 100%;
        display: inline-block;
        color: #707070;
        border: 4px solid #CCCCCC;
        /*-webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -o-border-radius: 10%;
        border-radius: 10%;*/
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .picture:hover .icon {
        border-color: #3B86FF;
    }

    .picture > .icon > svg {
        height: 1.4em;
        font-size: 4em;
    }

    /*.picture > svg {
        width: 100%;
        height: 100%;
    }*/

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        right: 0;
        bottom: 0;
    }

/*svg tick animation*/
.circ {
    opacity: 0;
    display: none;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    /*-ms-transition: all .75s;*/
    -o-transition: all .75s;
    transition: all .75s;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset .4s 0.5s ease-out;
    -moz-transition: stroke-dashoffset .4s 0.5s ease-out;
    -ms-transition: stroke-dashoffset .4s 0.5s ease-out;
    -o-transition: stroke-dashoffset .4s 0.5s ease-out;
    transition: stroke-dashoffset .4s 0.5s ease-out;
}

.drawn > svg .path {
    display: block;
    opacity: 1;
    stroke-dashoffset: 0;
}

.drawn {
    border-color: #fff;
}

[data-toggle="popover"] {
    cursor: pointer;
}

span.popover-content-remove {
    padding-left: 10px;
    color: red;
    cursor: pointer;
    float: right;
}

.pb10 {
    padding-bottom: 10px;
}

.popover-header {
    text-align: center;
}

.popover {
    min-width: 200px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
